/* ================= FOOTER ================= */
.footer {
  background: #ffffff;
  font-size: 11px;
  padding-top: 60px;
  color: #111;
}

/* ================= DESKTOP ================= */
.footer-desktop {
  display: block;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.3fr 1fr 1.8fr;
  gap: 20px;
}

/* HEADINGS */
.footer h4 {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: bold;
}

/* TEXT */
.footer p {
  margin: 12px 0;
  cursor: pointer;
  color: #000;
  font-size: 14px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-item.no-icon {
  padding-left: 28px; /* 16px icon + 12px gap */
}

.contact-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

/* ================= NEWSLETTER ================= */
.newsletter .input-box {
  display: flex;
  margin-top: 15px;
}

.input-box input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-family: inherit;
  font-size: 14px;
  min-width: 0;
}
.input-box input::placeholder {
  color: #888;
}

.input-box button {
  width: 50px;
  background: #181818;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.small {
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.5;
  color: #666;
}

.small a {
  color: #111;
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* ================= PAYMENTS ================= */
.payments {
  display: flex;
  margin-top: 25px;
}

.payments img {
  width: 250px;
  max-width: 100%;
  height: auto;
}

/* ================= BOTTOM ================= */
.footer-bottom {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-top: 60px;
}

.footer-bottom p {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.copyright {
  text-align: center;
  margin: 30px 0 20px 0;
  font-size: 16px;
  font-weight: 500;
}

.copyright span {
  color: #e3000f; /* Jdot Red */
  font-weight: bold;
}

/* ================= MOBILE ================= */
.footer-mobile {
  display: none;
}

/* NEWSLETTER */
.newsletter-box {
  background: #d6cdc4;
  padding: 15px;
}

/* ACCORDION */
.accordion {
  border-top: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

.accordion-content {
  padding: 0 15px 10px;
}

.accordion-content p {
  margin: 8px 0;
}

/* MOBILE PAYMENTS */
.payments.mobile {
  justify-content: center;
  margin: 20px 0;
}

/* MOBILE BOTTOM */
.footer-bottom.mobile {
  text-align: center;
  padding: 15px;
  font-size: 12px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {

  /* HIDE DESKTOP */
  .footer-desktop {
    display: none;
  }

  /* SHOW MOBILE */
  .footer-mobile {
    display: block;
  }

}
